header{
    padding: 0 10% 0 10%;
    width: 80%;
    /* border-bottom: solid rgba(165, 177, 194, 0.5); */
    box-shadow: 0px 3px 7px #A5B1C2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

section{
    margin: 5% 10%;
    padding: 10px;
}

h1{
    font-size: 56px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3E50;
}

p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #2C3E50;
    word-spacing: 5px;
}

a{
    text-decoration: none;
}

#logo{
    background-color: #2ECC71;
    border-radius: 24px;
    width: 142px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#logo-word{
    width: 55%;
    height: 30px;
    text-align: center;
    font-size: 24px;
    font-family: Tahoma;
    color: #ffffff;
}

#logo-img{
    width: 30%;
    border-radius: 100%;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    background-image: url('../img/Logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

#navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
#navbar ul{
    padding: 0px;
    list-style: none;
}
#navbar li{
    display: inline;
}

#navbar a{
    color: #2C3E50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding-right: 15px;
}

/* ----WELCOME SECTION-------------------------------------- */
#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

#welcome img{
    width: 35%;
    height: 55%;
    justify-content: center;
}

#welcome-video{
   width: 70%;
   height: 314px;
   
   background-image: url('../img/WelcomeVideo.png');
}

.welcome-container{
    display: flex;
    flex-direction: column;
    /* width: 65%; */
}

/* ----FOOTER------------------------------------------------ */
footer{
    width: 80%;
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-top: #BEBEBE solid 1.5px;
    color: #2C3E50;
}

.footer-column h4{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.footer-column a, .footer-column p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3E50;
    font-size: 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 2em;
}

#footer-container{
    display: flex;
    justify-content: space-between;
}

footer p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

footer a{
    color: red;
    text-align: right;
}

footer a:hover{
    text-decoration: underline;
}