/*

TABLE OF CONTENT
1.Global styling
    1a.LOGO
    1b.NAVBAR
2.WELCOME SECTION
3.PARAGRAPH CONTAINER
4.IMG CONTAINER
5.IMG CONTAINER
6.ABOUT US CONTAINER
7.DETAILED ITEMS PAGE
    7a.DETAILED FRUIT PAGE
    7b.DETAILED ROOMS PAGE
8.CART PAGE
    8a.YOUR CART SECTION
    8b.INFO SECTION
9.FOOTER

*/

/*---- 1.Gobal styling -----------------------------------------------------------*/
header{
    padding: 0 10% 0 10%;
    width: 80%;
    /* border-bottom: solid rgba(165, 177, 194, 0.5); */
    box-shadow: 0px 10px 10px -10px #A5B1C2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section{
    margin: 4% 10%;
    padding: 10px;
}

footer{
    width: 80%;
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-top: #BEBEBE solid 1.5px;
    color: #2C3E50;
}

h1{
    font-size: 56px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3E50;
}

h2{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #2C3E50;
}

h3{
    text-decoration: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #2C3E50;
}

ol{
    text-decoration: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #2C3E50;
    text-align: left;
    word-wrap: break-word;
}

p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #2C3E50;
    word-spacing: 5px;
    text-align: justify;
}

a{
    text-align: center;
    text-decoration: none;
}

.current{
    font-weight: bold;
}

#ab-video{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- 1a.LOGO -------------------------------- */
#logo{
    background-color: #2ECC71;
    border-radius: 24px;
    width: 142px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#logo-word{
    width: 55%;
    height: 30px;
    text-align: center;
    font-size: 24px;
    font-family: Tahoma;
    color: #ffffff;
}

#logo-img{
    width: 30%;
    border-radius: 100%;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    background-image: url('../img/Logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* ---- 1b.NAVBAR--------------------------------------------- */
#navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
#navbar ul{
    padding: 0px;
    list-style: none;
}
#navbar li{
    display: inline;
}

#navbar a{
    color: #2C3E50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding-right: 15px;
}

/* ----2.WELCOME SECTION-------------------------------------- */
#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

#welcome img{
    width: 350px;
    height: 501px;
}

#welcome-video{
   width: 575px;
   height: 314px;
   
   background-image: url('../img/WelcomeVideo.png');
}

.welcome-container{
    display: flex;
    flex-direction: column;
    /* width: 65%; */
}

/* ----3.PARAGRAPH CONTAINER------------------------------------------- */
.paragraph-container{
    position: relative;
  
}

.paragraph-container > h2{
    margin: 0% 0%;
    padding: 0;
}
.paragraph-container p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #2C3E50;
    word-spacing: 5px;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 2em;
    
}
.paragraph-container a{
    color: #F65E39 ;
    font-size: 24px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    position: absolute; 
    right: 0; 
    bottom: 0;
   
}

.paragraph-container a:hover{
    text-decoration: underline;
}

/* ---- 4.IMG CONTAINER ------------------------------------------ */
.imgs-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.imgs-container a{
    width: 23%;
    margin: 3% 0.75% 5% 0.75%;
}

.imgs-container a img {
    width: 100%;
}

.imgs-container a:hover{
    background: rgba(0, 0, 0, 0.15);
}

.imgs-container a h3{
    text-decoration: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #2C3E50;
    text-align: left;
    word-wrap: break-word;
}

.imgs-container a aside{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: left;
}

/* ----5.IMG CONTAINER------------------------------------------- */
.imgs-container .fruit-img{
    position: relative;
}

.imgs-container .fruit-img h3{
    text-decoration: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;

    position: absolute;
    left: 5%;
    bottom: 5%;
}

.imgs-container .fruit-img aside{
    text-decoration: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: left;

    position: absolute;
    left: 5%;
    bottom: 5%;
}

/* ----6.ABOUT US CONTAINER ----------------------------------------- */

.about-container{
    display: flex;

}

/* ----7.DETAILED ITEMS PAGE-------------------------------------- */

    /*----7a.DETAILED FRUIT PAGE---------------------------------------*/
.price{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #EB3B5A;
    font-size: 40px;
    margin: auto 0;
}

.item-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 4% 10%;
}

.item-showing{
   margin: auto;
   display: grid;
   width: 70%;
   margin:0;
   grid-template-columns: 1fr 1fr 1fr;
   /* grid-row: 2; */
}

.item-showing >img{
    width: 100%;
}
.main-item{
    grid-column-start: 1;
    grid-column-end: 4;
}
.item-decription-container{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0;
}

.item-decription-container > img{
    width: 60%;
    height: auto;
}

.quantity-container{
    margin: 1em 0;
}

.quantity-container label{
    display: inline;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3E50;
    font-size: 24px;
}

.quantity-container > input[type="number"]{
    width: 20%;
    height: 30px;
    font-size: 24px;
}

.buttons-container {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.buy-button{
    width: 45%;
    height: 3em;
    background-color: #EB3B5A;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 24px;
    border-radius: 10px;
    letter-spacing: 4px;
    border: none;
}

.add-button{
    width: 45%;
    height: 3em;
    background-color: #F7B731;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 24px;
    border-radius: 10px;
    letter-spacing: 4px;
    border: none;
}

    /*----7b.DETAILED ROOMS PAGE-----------------------------------------------------------------*/

.total-price{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #EB3B5A;
    font-size: 30px;
    margin: auto 0;
}


.room-decription-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    box-sizing: border-box;
}

.room-decription-container  .paragraph-container{
    width: 45%;
}

.book-container{
    width: 40%;
    padding: 2%;
    box-shadow: 0px 0px 5px 5px #A5B1C2;
}

.book-container > p{
    display: inline;
}

.icon-with-box{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon-with-box > img{
    width: 30px;
    height: 30px;
    align-items: flex-start;
}

.icon-with-box > p{
    width: 90%;
    align-items: flex-start;
    border: #A5B1C2 solid 2px;
    padding: 2px 2px;
    border-radius: 6px;
}

.horizontal-gallery{
    display: flex;
    width: 80%;
    margin: 0 10%;
}

    /*7b.DETAILED JOB PAGE------------------------------------------------*/

.jobs-decription-container > div:first-child{
    display: flex;
    justify-content: space-between;
}


/*----8.CART PAGE ----------------------------------------------*/

    /*----8a.YOUR CART SECTION -----------------------------------------------*/
.cart-container{
    margin: 0 10%;
}

.cart-container > hr{
    color: #A5B1C2;
}


.cart-item{
    display: flex;
    width: 100%;
    
  
    align-items: center;
    justify-content: space-between;

    /* border-top: solid #A5B1C2 1px; */
    /* border-bottom: solid #A5B1C2 1px; */
}

.cart-item > img:first-child{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-item > h3{
    width: 35%;
}

.cart-item .total-price{
    width: 15%;
}

    /*----8b.INFOR SECTION -------------------------------------------------------*/
.your-infor{
    margin: 0 10%;

}
.infor-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}

.infor-form > div > label{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #2C3E50;
    word-spacing: 5px;
}
.infor-form > div > input{
    border-radius: 6px;
    border: 1px solid rgba(165, 177, 194, 0.5);
    height: 20px;
}
.infor-form > div:first-child,
.infor-form > div:nth-child(3){
    width: 30%;
}

.infor-form > div:nth-child(2){
    width: 25%;
}

.infor-form > div:nth-child(4){
    width: 100%;
}

.infor-form input{
    width: 100%;
}

.total-box{
    display: flex;
    width: 30%;
    margin: 2% 10%;
    align-self: center;
    justify-content: flex-end;
    flex-flow: wrap row;
}

.total-box > p, .total-box > span {
    width: 50%;
}

.total-box > span{
    text-align: end;
}
.total-box > .purchase-button{
    width: 100%;
    height: 2em;
    background-color: #F7B731;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 24px;
    border-radius: 10px;
    letter-spacing: 4px;
    border: none;
}


/* ----9.FOOTER------------------------------------------------ */
.footer-column h4{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.footer-column a, .footer-column p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3E50;
    font-size: 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 2em;
}

.footer-column img{
    margin-top: 50%;
}
#footer-container{
    display: flex;
    justify-content: space-between;
}

footer p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

footer a{
    color: red;
    text-align: right;
}

footer a:hover{
    text-decoration: underline;
}

#contact-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    width: 20%;
    margin: 0 0% 0 80%;
}

#contact-icon-container img{
    width: 45px;
}