* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "open sans", sans-serif;
    font-size: 24px;
    color: #2C3E50;
}

h1 {
    font-size: 56px;
}

h3 {
    font-size: 24px;
}

h4, 
aside {
    font-size: 16px;
}

p {
    text-align: justify;
}

a:visited,
a:link {
    text-decoration: none;
    color: #2C3E50;
}

a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
}

hr {
    color: rgba(165, 177, 194, 0.5);
}

input {
    border: 1px solid rgba(165, 177, 194, 0.5);
    border-radius: 8px;
    padding-left: 0.5em;
    font-size: 20px;
    min-height: 1.5em;
}

header {
    box-shadow: 0px 10px 10px -10px #A5B1C2;
}

nav li{
    align-self: center;
}

footer {
    border-top: #BEBEBE solid 1.5px;
    font-size: 16px;
}
.grid{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(1rem, auto);
   
    column-gap: 2rem;
    justify-self: center;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-nowrap {
    flex-wrap: nowrap;
}

.f-spacebetween{
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.inline {
    display: inline;
}

.lr-center {
    margin-left: auto;
    margin-right: auto;
}

.tb-center {
    margin-top: auto;
    margin-bottom: auto;
}

.justify-left{
    margin-left: inherit;
}

.justify-right{
    margin-right: inherit;
}

.width-20 {
    width: 20%;
}
.width-25 {
    width: 25%;
}

.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}
.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.width-1col {
    grid-column: span 1;
}
.width-2col {
    grid-column: span 2;
}
.width-3col {
    grid-column: span 3;
}
.width-4col {
    grid-column: span 4;
}
.width-5col {
    grid-column: span 5;
}
.width-6col {
    grid-column: span 6;
}
.width-7col {
    grid-column: span 7;
}
.width-8col{
    grid-column: span 8;
}
.width-9col{
    grid-column: span 9;
}
.width-10col {
    grid-column: span 10;
}
.width-11col {
    grid-column: span 11;
}
.width-12col{
    grid-column: span 12;
}

.align-content-center {
    align-content: center;
}

.alignitems-center {
    align-items: center;
}

.alignself-center {
    align-self: center;
}

.alignself-fend {
    align-self: flex-end;
}

.tb-margin-smaller {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.tb-margin-small {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.tb-margin-medium {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.tb-margin-large {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.lr-margin-smaller {
    margin-left: 2rem;
    margin-right: 2rem;
}

.lr-margin-small {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.tb-padding-small {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.tb-padding-medium {
    padding-top: 1em;
    padding-bottom: 1em;
}

.tb-child-padding-small > *{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.tb-child-padding-medium > *{
    padding-top: 1em;
    padding-bottom: 1em;
}

.lr-padding-small {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.lr-padding-medium {
    padding-left: 1em;
    padding-right: 1em;
}

.lr-child-padding-small > *{
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.lr-child-padding-medium > *{
    padding-left: 1em;
    padding-right: 1em;
}

.current {
    font-weight: bold;
}

.fontsize-medium{
    font-size: 16px;
}

.pos-relative {
    position: relative;
}

.price-tag-large {
    color: #EB3B5A;
    font-size: 40px;
    font-weight: 600;
}

.price-tag-medium {
    color: #EB3B5A;
    font-size: 24px;
    font-weight: 600;
}

.textalign-right {
    text-align: right;
}

.textalign-center {
    text-align: center;
}
/*----------------------------------------------------------
NAVBAR
----------------------------------------------------------*/
.navbar {
    height: 5rem;
}

.navbar ul{
    justify-content: space-between;
}

/*----------------------------------------------------------
WELCOME
----------------------------------------------------------*/

.video {
   position: relative;
   justify-content: center;
}

.video video {
    z-index: -1;
    
}
.video img {
    position: absolute;
    height: 5rem;
    justify-self: center;
    align-self: center;
    width: auto;
}
/*----------------------------------------------------------
PARAGRAPH
----------------------------------------------------------*/
.paragraph {
    position: relative;
}

.paragraph h2 {
    font-size: 40px;
}

.paragraph a {
    color: #F65E39;
    position: absolute;
    right: 0;
    bottom: 0;
}


/*----------------------------------------------------------
FRUIT CARD
----------------------------------------------------------*/
.fruit-card {
    position: relative;
    height: 20rem;
    border-radius: 8px;
    overflow: hidden;
}

.fruit-card img{
    object-fit: cover;
    height: inherit;
}

.fruit-card .content {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: #fff;
    z-index: 2;
}

.overlay {
    background: linear-gradient(0deg, rgba(0,0,0,0.9332107843137255) 0%, rgba(124, 65, 65, 0) 50%);
    z-index: 1;
    position: absolute;
}


/*----------------------------------------------------------
CARD TYPE 2 (ROOM CARD & JOB CARD)
----------------------------------------------------------*/

.card-2  {
    height: 18rem;
}

.card-2  h3,
.card-2  aside{
    padding: 0.5em 0 0.5em 0;
}

.img-container {
    padding: 0;
    height: 60%;
    border-radius: 8px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-container img {
    object-fit: cover;
}

.questions {
    line-height: 1.5em;
    margin-bottom: 2rem;
}

.main-item {
    height: 27rem;
    border-radius: 8px;
}

.small-img div{
    height: 9rem;
    border-radius: 8px;
    overflow: hidden;
}
.small-img img {
    z-index: -1;
}
 

/*----------------------------------------------------------
INPUT & BUTTON
----------------------------------------------------------*/

.border-input {
    border: 1px solid rgba(165, 177, 194, 0.5);
    border-radius: 8px;
}

.small-button {
    height: 2.5rem;
    font-size: 18px;
}

.medium-button {
    height: 3rem;
    font-size: 24px;
}

.large-button {
    height: 4rem;
    font-size: 24px;
}

.button {
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.button a:hover {
    text-decoration: none;
}

.green-button,
.green-button a {
    background-color: #2ECC71;
    color: #fff;
}

.red-button,
.red-button a {
    background-color: #EB3B5A;
    color: #fff;
}

.yellow-button {
    color: #fff;
    background-color: #F7B731;
}

.purchase-button {
    font-weight: 200;
    letter-spacing: 2px;
}

.cancel-button {
    grid-column: 4 / span 3;
    color: #EB3B5A;
    border: 1px solid #EB3B5A;
    background-color: #fff;
}

.book-button {
    grid-column: 7 / span 3;
}

/*----------------------------------------------------------
FORM
----------------------------------------------------------*/
.infor-form {
    flex-grow: 1;
    justify-content: space-between;
}

.infor-form input {
    width: 100%;
    display: block;
}

.bookcard-shadow {
    box-shadow: 0px 0px 19px -4px #A5B1C2;
}

/*----------------------------------------------------------
GALLERY
----------------------------------------------------------*/
.horizontal-gallery {
    height: 70vh;
}

.horizontal-gallery img {
    border-radius: 8px;
    object-fit: cover;
}


/*----------------------------------------------------------
CART
----------------------------------------------------------*/

.cart-item img {
    object-fit: cover;
}

.cart-item img:first-child{
    height: 10rem;
}

/*----------------------------------------------------------
SETTING & LOGIN
----------------------------------------------------------*/
.setting-sidebar {
    box-shadow: 0px 0px 10px rgba(165, 177, 194, 0.25);
}

.setting-sidebar > a {
    border-bottom: 1px solid #A5B1C2;
}
.setting-sidebar ul {
    list-style: inside;
}

.login-box {
    box-shadow: 0px 0px 10px rgba(165, 177, 194, 0.25);
}

.login-box > a{
    font-size: 16px;
    font-style: italic;
}

.fruit-table {
    box-shadow: 5px 10px 10px -10px rgba(165, 177, 194, 0.5);
    border-left: 1px solid rgba(165, 177, 194, 0.5);
    border-right: 1px solid rgba(165, 177, 194, 0.5);
    border-spacing: 0;
}

.fruit-table tr {
    border-bottom: 1px solid rgba(165, 177, 194, 0.5);
}

.add-fruit-img * {
    width: 20%;
    height: 10rem;
    border-radius: 8px;
    overflow: hidden;
    border: 0;
}